/* styles applied to the entire application */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  color: hsl(53, 95%, 53%);
  background: hsl(360, 100%, 65%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
